/*----------Pages-Styles------------*/

*body{
    font-family: sans-serif;
}

/*Footer*/

.footerSectionDerechosDeAutor{
    background-color: rgba(0, 0, 0, 0.05);
}

.iconoRedes{
    color: #212529;
}

/*------*/

/*Section2*/

.tituloSection2{
    color: #000000;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}
.parrafoSection2{
    color: #5f5e5e;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2rem;
}
.parrafo2Section2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #5f5e5e;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.textoSection2{
    color: #787878;
    text-align: justify;
    font-size: 2rem;
    font-style: normal;
    font-weight: 350;
    line-height: 45px; 
}

/*--------*/

/*Section3*/

.section3ColorFondo{
    background-color: #2E2E2E;
    color: #787878;
}
.tituloSection3{
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.textoSection3{
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.imgResponsiva{
    height: 100%;
    width: 100%;
}
/*--------*/