/*----------Pages-Styles------------*/
*body{
    font-family: sans-serif;
}

/*arrow*/
.colorArrow{
    color: #171717;
}
/*-----*/

/*btnVermas*/
.btnVerMas{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}
.btnVerMas {
    font-weight: 600;
    color: #2c2f33;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #f6f8fa;
    border: 2px solid #ccd6dd;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btnVerMas::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e9ebee;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0.625em 0 0 #ffffff;
    box-shadow: 0 0 0 2px #ccd6dd, 0 0.625em 0 0 #ffffff;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btnVerMas:hover {
    background: #dce0e3;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}
.btnVerMas:hover::before {
    -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0.5em 0 0 #ffffff;
    box-shadow: 0 0 0 2px #ccd6dd, 0 0.5em 0 0 #ffffff;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}
  
.btnVerMas:active {
    background: #dce0e3;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}
  
.btnVerMas:active::before {
    -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0 #ffffff;
    box-shadow: 0 0 0 2px #ccd6dd, 0 0 #ffffff;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}
/*---------*/

/*Footer*/

.footerSectionDerechosDeAutor{
    background-color: rgba(0, 0, 0, 0.05);
}

.iconoRedes{
    color: #212529;
}

/*------*/

/*Section2*/

.tituloSection2{
    color: #000000;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}
.parrafoSection2{
    color: #5f5e5e;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2rem;
}
.parrafo2Section2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #5f5e5e;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.textoSection2{
    color: #787878;
    text-align: justify;
    font-size: 2rem;
    font-style: normal;
    font-weight: 350;
    line-height: 45px; 
}

/*--------*/

/*Section3*/

.section3ColorFondo{
    background-color: #2E2E2E;
    color: #787878;
}
.tituloSection3{
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.textoSection3{
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.imgResponsiva{
    height: 100%;
    width: 100%;
}
/*--------*/

/*Section4*/

.TituloSection4{
    color: #171717;
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*--------*/

/*BoletoInfo*/


/*----------*/

/*Login-&&-Register*/

.cascading-right {
    margin-right: -50px;
}
@media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
  }
  }
.estiloCardcita{
    background: rgba(235, 235, 235, 0.87);
    backdrop-filter: blur(30px);
}
/*-----------------*/

/*-----------------*/
.colorBoleto{
  height: 100%;
  width: 100%;
  background-color: #171717;
  opacity: 0.9;
  transition: opacity 0.8s ease;
  border-radius: 1rem;
}
.colorBoleto:hover {
  opacity: 1;
}
.colorBoletoPequeño{
    width: 20rem; 
    height: auto;
    background-color: #171717;
    opacity: 0.9;
    transition: opacity 0.8s ease;
}
.colorBoletoPequeño:hover {
  opacity: 1;
}
.rotaciónBoleto{
    transform: rotate(180deg);
}
.barraBlanca{
    background-color: #ffffff;
    height: 0.5vh;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.barraBlancaGrande{
    background-color: #ffffff;
    height: 3vh;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*-----------------*/










/*works janky on mobile :<*/
.containercito {
  position: relative;
  height: 30rem;
  transition: 200ms;
}
#cardcita {
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: 2rem;
  transition: 700ms;
  background: linear-gradient(43deg, rgb(33, 37, 41) 25%, rgb(33, 37, 41) 46%,rgb(33, 37, 41) 100%);
}

.subtitle {
  transform: translateY(160px);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
}

.title {
  margin-left: 1.5rem;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.tracker:hover ~ #cardcita .title {
  opacity: 1;
}

#prompt {
  font-weight: bold;
  font-size: 3.5rem;
  transition: 300ms ease-in-out-out;
  color: rgb(255, 255, 255);
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #cardcita #prompt {
  opacity: 0;
}

.tracker:hover ~ #cardcita {
  transition: 300ms;
  filter: brightness(1.1);
}

.containercito:hover #cardcita::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#cardcita::before {
  content: '';
  background: linear-gradient(43deg,  rgb(33, 37, 41) 0%, #323232 46%,#080808 100%);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #cardcita {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}


.cards .color {
  background-color: #171717;
}

.cards .card {
  height: auto;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

/* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */














.cardAbout {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 200px;
  height: 254px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardAbout-photo {
/* clear and add new css */
  transform: scale(0.3) translate(220px, 230px);
  width: 100%;
  height: 100%;
  margin-left: -125px;
  margin-top: -125px;
  border-radius: 30%;
}

.imgCardcitas{
  border-radius: 100%;
}

.cardAbout-title {
  text-align: center;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardAbout-title span {
  font-size: 15px;
  color: var(--font-color-sub);
}

.cardAbout-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 20px;
  gap: 20px;
  transition: 0.5s;
}

.cardAbout-socials-btn {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.cardAbout-socials-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

.cardAbout:hover > .cardAbout-socials {
  opacity: 1;
  height: 35px;
}

.cardAbout-socials-btn:hover {
  transform: translateY(-5px);
  transition: all 0.15s;
}

.cardAbout-photo:hover {
  transition: 0.3s;
  transform: scale(0.4) translate(160px, 150px);
}


/*button panel to the controlcito*/

.buttoncititito {
  background-color: #e8e8e8; /* Color de fondo original */
  color: #090909; /* Color de texto original */
  padding: 0.7em 1.7em;
  font-size: 18px;
  border: none;
  border-radius: 0.5em;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

/* Estilos al pasar el ratón sobre el botón */
.buttoncititito:hover {
  background-color: #000; /* Nuevo color de fondo al pasar el ratón */
  color: #fff; /* Nuevo color de texto al pasar el ratón */
}

/* circulo de en vivo*/

/* EnVivo.css */
.live-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.red-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: red;
  margin-left: 1rem;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
