.cardcititita {
    border-radius: .8rem;
    background-color: white;
  }
  
  .cardcititita__skeleton {
    background-image: linear-gradient(
          90deg,
          #ccc 0px,
          rgb(229 229 229 / 90%) 40px,
          #ccc 80px
      );
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
  }
  
  .cardcititita__title {
    height: 28rem;
    width: 28rem;
    border-radius: 100%;
  }

  @keyframes shimmer {
    to {
      background-position: -100% 0;
    }
  }

  .cardcitaVideo {
    border-radius: .8rem;
    background-color: white;
  }
  
  .cardcitaVideo__skeleton {
    background-image: linear-gradient(
          90deg,
          #ccc 0px,
          rgb(229 229 229 / 90%) 40px,
          #ccc 80px
      );
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
  }
  
  .cardcitaVideo__title {
    height: 28rem;
    width: 70rem;

  }

  @keyframes shimmer {
    to {
      background-position: -100% 0;
    }
  }